<h1>1mz 73h 10100111001 H4x0r</h1>
<form class="" action='/1337sp34k'>
  <div class="form-group">
    <label for="input_string">Enter sentence to be made 733t</label>
    <input name="input_string" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Speak da truph!</button>
</form>
